body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
}

header, footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: white;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

.slide {
    position: relative;
    margin-bottom: 2em;
    background: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.slide1-button {
    position: absolute;
    top: 65%; /* adjust as needed */
    left: 10%; /* adjust as needed */
    transform: translate(-50%, -50%);
     font-size: 20px; /* Makes the text larger */
    padding: 15px 30px; /* Adds more space inside the button */
    border-radius: 8px; /* Rounds the corners more, optional */
    background-color: #67a8ee; /* This is a light blue color */
}

.slide5-button {
    position: absolute;
    top: 60%; /* adjust as needed */
    left: 10%; /* adjust as needed */
    transform: translate(-50%, -50%);
     font-size: 20px; /* Makes the text larger */
    padding: 15px 30px; /* Adds more space inside the button */
    border-radius: 8px; /* Rounds the corners more, optional */
    background-color: #67a8ee; /* This is a light blue color */
}
